# MineCollector v1.1.0
#
# 마인콜렉터 설정 파일입니다.
# This is MineCollector configuration file.

# 마인콜렉터 기능을 활성화합니다.
# "false"일 시 수집, 도감 열기, 랭킹 보기 등 모든 기능이 비활성화됩니다.
enabled: true

# ========= SCORING =========
scoring:

  # 수집 점수
  # 아이템을 처음 수집할 때 얻는 점수입니다.
  #
  # Collection Score:
  # It's the score players gain when he collects an item first time
  collection enabled: true
  collection score: 1.0

  # 쌓기 점수
  # 아이템을 일정 배수만큼 더 수집했을 때 얻는 추가 점수입니다.
  #
  # 예를 들어 배수(multiple)가 4일 때, 수집 개수가 4개, 16(4²)개, 64(4³)개, 256(4⁴)개 등이 될 때 추가 점수를 얻습니다.
  # 배수는 2 이상의 정수여야 합니다.
  #
  # Stack Score:
  # It's the score players gain when he collects the item multiple-times more
  #
  # For example, if multiplier is 4, he gains scores when the number of collection is 4, 16(4²), 64(4³), ....
  # multiple must be an integer greater than or equal to 2.
  stack enabled: true
  stack multiple: 4
  stack score: 0.1

  # 발전 점수
  # 발전과제를 달성하였을 때 얻는 추가 점수입니다.
  #
  # Advancement score:
  # the score players gain when the player achieves an advancement
  advancement enabled: true
  advancement scores:
    task: 1.0
    goal: 2.0
    challenge: 3.0


# ========= ANNOUNCEMENT =========
announcement:

  # 아이템을 처음 수집할 때 나오는 공지
  # The announcement displayed when a player collects an item first time
  #
  # 허용된 값(Allowed values): "ALL_PLAYERS", "SELF", "NONE"
  collection: ALL_PLAYERS

  # 아이템 컬렉션이 높은 단계에 도달했을 때 나오는 공지
  # The announcement displayed when a player's item collection reached high level
  #
  # 허용된 값(Allowed values): "ALL_PLAYERS", "SELF", "NONE"
  high level reached: ALL_PLAYERS

  # 몇 단계부터 공지를 띄울 지 설정합니다.
  # 2 이상 정수여야 합니다.
  #
  # sets the level from which the announcement should be displayed.
  # must be greater than or equal to 2
  high level minimum: 5

  # 발전과제를 달성했을 때 나오는 공지
  # The announcement displayed when a player achieves an advancement
  #
  # 허용된 값(Allowed values): "ALL_PLAYERS", "SELF", "NONE"
  advancement: SELF


# ========= GAME =========
game:

  # 아직 플레이어가 수집하지 않은 아이템을 도감에서 볼 수 있는지 설정합니다.
  # set "true" to hide items that the player had not yet collected in collection
  hide unknown collection: true

  # 부활시킨 엔더드래곤이 죽을 때 엔더 알이 다시 만들어질지 설정합니다.
  # set "true" to make respawned ender dragons leave her egg when they killed.
  respawn enderegg: true

# ========= DB =========
db:

  # 분 단위, 0 또는 양의 정수여야 함. 0일 경우 비활성화
  # in minutes, must be 0 or an positive integer, disabled if 0.
  autosave period: 10

  # 자동 저장할 때 콘솔에 메시지를 출력할 지 설정합니다.
  # set "true" to log message to the console when auto-saved
  autosave logging: true